// Jumbotron Headline
.cta-heading {
	color: $white;
	font-size: 5.625rem;
	font-family: $font-family-special;
	padding-bottom: 3rem;
	background: url('../images/decor.png') no-repeat center bottom;
	margin-bottom: 0.39em;

	@include bp(lg) {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}
}

// Headline decoration
.deco-heading {
	font-size: 2.25rem;
	font-family: $font-family-special;
	text-align: center;
	padding-bottom: 0.94em;

	&--a {
		background: url('../images/divider.png') no-repeat center bottom;
		color: $primary-color;
	}
}
