.top-bar-section ul li {
	background-color: transparent;
}

.top-bar-section ul li > a {
	font-weight: bold;
}

.top-bar-section li.active:not(.has-form) a:not(.button),
.top-bar-section li:not(.has-form) a:not(.button) {
	@include bp(lg) {
		padding-top: 2.9375rem;
		transition: box-shadow .2s ease-in;

		&:hover {
			box-shadow: inset 0 3px 0 rgba($white, .7);
		}
	}
}

.top-bar-section li:not(.has-form):nth-last-child(-n+3) a:not(.button) {
	box-shadow: none;
	color: $primary-color;
	transition: all .2s ease-in;

	&:hover {
		color: $white;
	}
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
	@include bp(lg) { 
		box-shadow: inset 0 3px 0 rgba($white, .7);
	}
}

.top-bar-section a {
	color: $primary-color;
	transition: all .2s ease-in;
	
	&:hover {
		color: $white;
	}
}

@media only screen and (max-width: $topbar-breakpoint) {
	.top-bar {
		height: rem-calc(106);

		.name {
			height: rem-calc(106);
		}
	}

	.top-bar-section > ul {
		height: rem-calc(320);
		overflow-y: auto; 
		text-align: center;
	}

	.top-bar-section li.active:not(.has-form) a:not(.button):hover, 
	.top-bar-section li:not(.has-form) a:not(.button):hover,
	.top-bar-section li.active:not(.has-form) a:not(.button) {
		box-shadow: none;
	}

	.top-bar-section li.active:not(.has-form) a:not(.button), 
	.top-bar-section li:not(.has-form) a:not(.button) {
		padding-top: rem-calc(20);
	}

	.top-bar-section li:not(.has-form):nth-last-child(-n+3) {
		display: inline-block;
		margin: rem-calc(20);
		text-align: center;

		a {
			font-size: rem-calc(30);
			padding: 0;
		}
	}
}

@media only screen and (max-height: 422px) {
	.top-bar-section > ul {
		height: rem-calc(200);
	}
}