.site-jumbotron {
	min-height: rem-calc(700);
	height: 100%;
	background-color: $jumbo;
	background-image: linear-gradient(to bottom, rgba($black, 0.7), transparent 10%), url('../images/onion.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
	text-align: center;

	.cta-section-wrap {
		 position: relative;
		 top: 30%;
	}

	@media only screen and (max-width: em-calc(500)) {
		min-height: rem-calc(800);
	}
}

.site-jumbotron.site-jumbotron--video {
	background: rgba(black, 0.6);
}

// Video Background
video#bgvid {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	background: url('../images/onion.jpg') no-repeat;
	background-size: cover;
}