.food-materials {

	p {
		color: $white;
		margin-bottom: 4.06em;
	}

	.materials-list {
		list-style: none;
		margin: 0;

		li {
			display: inline-block;
			border-radius: 50%;
			border: 5px solid rgba($black, 0.5);
			margin: 0 em-calc(5) em-calc(5);
			
			&:last-child {
				margin-right: 0;
			}

			img {
				border-radius: 50%;
			}
		}
	}
}