.reviews {

	.guest-review {
		border: none;
		margin: 0;
	}

	p {
		color: $white;
		font-family: $font-family-serif;
		font-size: rem-calc(25);
		font-weight: bold;
		line-height: 1.8;

		&:before {
			color: #767272;
			content: '\f10d';
			font-family: 'fontAwesome';
			margin-right: 10px;
		}
	}

	cite {
		color: $white;
		font-style: normal;
		font-size: rem-calc(18);
	}

	@media only screen and (max-width: $small-breakpoint) {
		p {
			font-size: rem-calc(18);
		}

		cite {
			font-size: rem-calc(14);
		}
	}
}